{% extends 'Attendence/base_page.html' %}
{% load static %}
{% block content%}
<div class="container">
    <div class="alert alert-info">
        <strong><h3>{{user.username}}</h3></strong>
      </div>
    <h1>Hello {{user.username}}</h1>

    <img src="{{user.profile.image.url}}" class="img-circle" alt="{{user.username}}" width="150" height="150">
    <div>
      <br>
    {{user.email}}
  </div>
  <div>
    <a href="{% url 'up_form' %}">Update Profile</a>
  </div>
  <div>
    <a href="{% url 'updatepass' %}">Update Password</a>
  </div>
</div>


{% endblock content %}